ul, ol {
  list-style-type: none;
}

.para {
  margin-top: 16px;
  margin-bottom: 16px;
  display: block;
}

.para span {
  border:1px solid red;
  padding: 5px;
  display: inline-block;
}

ul li {
  display: inline;
}

.para-large {
  display: block;
  margin: 25px;
  padding: 10px;
}

.para-large span {
  display: inline-block;
  margin: 5px;
  border: 2px dotted green;
  padding: 5px;
}

ol li {
  display: inline-block;
  margin: 15px auto;
}
