@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-SemiBoldItalic.woff2') format('woff2'),
      url('../fonts/PlayfairDisplay-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
      url('../fonts/PlayfairDisplay-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
      url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-ExtraBold.woff2') format('woff2'),
      url('../fonts/PlayfairDisplay-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-BlackItalic.woff2') format('woff2'),
      url('../fonts/PlayfairDisplay-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-MediumItalic.woff2') format('woff2'),
      url('../fonts/PlayfairDisplay-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
      url('../fonts/PlayfairDisplay-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Medium.woff2') format('woff2'),
      url('../fonts/PlayfairDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-SemiBold.woff2') format('woff2'),
      url('../fonts/PlayfairDisplay-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
      url('../fonts/PlayfairDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Black.woff2') format('woff2'),
      url('../fonts/PlayfairDisplay-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-ExtraBoldItalic.woff2') format('woff2'),
      url('../fonts/PlayfairDisplay-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-LightItalic.woff2') format('woff2'),
      url('../fonts/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
      url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.woff2') format('woff2'),
      url('../fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Thin.woff2') format('woff2'),
      url('../fonts/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-MediumItalic.woff2') format('woff2'),
      url('../fonts/Roboto-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
      url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BlackItalic.woff2') format('woff2'),
      url('../fonts/Roboto-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
      url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-ThinItalic.woff2') format('woff2'),
      url('../fonts/Roboto-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black.woff2') format('woff2'),
      url('../fonts/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic.woff2') format('woff2'),
      url('../fonts/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BoldItalic.woff2') format('woff2'),
      url('../fonts/Roboto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
/* end-fonts */

/* css-reset */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}
/* end-css-reset */

body {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  color: inherit;
}

a{
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* header */
.header .header-top {
  background: url('../fonts/./../images/Homepage-Monochrome/banner.png') center center no-repeat;
  background-size: cover;
  height: 500px;
}

.header-top-inner {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}


.header-top .header-connect li {
  display: inline;
  text-align: left;
  margin: 0 8px ;
}

.header-connect li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

.header-top .header-controls {
  display: inline-flex;
  position: relative;
  align-items: center;
  margin-right: 60px;
}

.search-bar form {
  border: 1px solid black;
}

.header-controls .search-field {
  max-height: 40px;
  max-width: 200px;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

.header-controls .search-field[placeholder='search' i] {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: left;
  padding-left: 30px;
}

.header-controls .search-field::placeholder{
  color: #000;
}

.header-controls .search-button{
  border: none;
  background: none;
  position: absolute;
  opacity: 0.8;
  top: 7px;
  left: 5px;
  font-size: 16px;
}

.header-controls .control-buttons li{
  display: inline;
  margin: 0 5px;
}

.header-controls .control-buttons li:first-child {
  margin: 0 5px 0 0;
}

.header-controls .control-buttons ul {
  padding-left: 10px;
}

.header-controls .control-buttons a{
  color: #2B2B2B;
}

.header-bottom {
  min-width: 1200px;
  background-color: #2B2B2B;
  background-size: cover;
}

.header-bottom ul{
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.header-bottom li {
  display: inline;
}

.header-bottom ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #E8E8E8;
  font-size: 19px;
  max-width: 1200px;
}
/* end-header */

/* main */
.home-catalog-preview .home-catalog-header {
  text-align: center;
  border-top: 1px solid #CCCC;
  margin: 20px 0;
  padding: 10px 0;
}

.product-tiles {
  margin: 23px 0 80px 0;
  display: inline-flex;
}

.product-tiles .product-tile {
  text-align: center;
  width: 26.75%;
}

.product-image-container {
  position: relative;
}

.product-image-container img {
  width: 100%;
  margin-bottom: 16px;
}

.product-image-container i[class*="fa-"] {
  position: absolute;
  font-size: 26px;
  color: #2B2B2B;
  top: 20px;
  right: 30px;
}

.product-container-title {
  font-size: 22px;
  color: #2B2B2B;
  text-transform: uppercase;
}

.home-content {
  margin-bottom: 140px;
  display: inline-flex;
}

.home-content-image img {
  max-width: 666px;
  max-height: 666px;
}

.home-content .home-content-text {
  text-align: left;
  margin-left: 134px;
  max-width: 556px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  line-height: 30px;
}

.home-content .home-content-text h2 {
  font-family: 'Playfair', serif;
  margin-bottom: 40px;
}

.home-content .home-content-text p:last-child {
  margin-top: 68px;
}

.catalog-ctas {
margin: 0 550px 50px 550px;
}

.catalog-ctas button {
  cursor: pointer;
  width: 100px;
  background: none;
  border-radius: 0%;
  border: 1px solid #2B2B2B;
}
/* end-main */

/* footer */
.footer {
  background-color: #E8E8E8;
  text-align: left;
  padding: 20px 0;
}

.footer-inner {
  display: flex;
}

.footer-contact li a {
  text-decoration: none;
  color: #2B2B2B;
  text-transform: lowercase;
}

.footer-contact li {
  list-style-type: none;
}

.footer-contact ul {
  padding: 0;
}

.footer-nav {
  display: inline-flex;
  margin: 0 60px;
}

.footer-nav li a {
  text-decoration: none;
  color: #2B2B2B;
  text-transform: lowercase;
}

.footer-nav li {
  list-style-type: none;
}

.footer-nav ul {
  margin: 0 60px;
  padding-left: 0;
}

.footer-connect {
  margin-left: 60px;
}

.footer-newsletter {
  display: inline-flex;
  flex-direction: column;
}

.footer-newsletter label {
  text-transform: lowercase;
}

.footer-newsletter input[type="email"] {
  border: 1px solid #CCCC;
  height: 30px;
  margin: 10px 0;
  width: 250px;
}

.footer-newsletter button {
  text-transform: uppercase;
  width: 25%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  border-radius: 0;
  border: 1px solid #2B2B2B;
}

.footer-social ul {
  display: inline-flex;
  list-style-type: none;
  padding: 0px;
  margin-top: 15px;
}

.footer-social ul li{
  margin: 5px 10px 5px 0;
}

.footer-social li a {
  color: #2B2B2B;
  text-decoration: none;
}
/* end-footer */
